body {
  background: #040306;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0E1015;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Css */

.header {
  color: #FFFFFF;
}

.footer {
  color: #FFFFFF;
}

.guitarImages {
  border-radius: 25px;
  /*box-shadow: rgba(103,110,144,.05) 0 16px 16px,rgba(103,110,144,.05) 0 8px 8px,rgba(103,110,144,.05) 0 4px 4px,rgba(103,110,144,.05) 0 2px 2px;*/
  filter: drop-shadow(0px 0px 20px rgba(68, 68, 221, 0.4));
  margin: 15px;
}

.get-started {
  a {
    width: 160px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    display: block;
    background: linear-gradient(75deg, #A259FF, rgb(91, 40, 158), rgb(53, 7, 114), rgb(91, 40, 158), #A259FF);
    border-radius: 6px;
    text-align: center;
    color: $white;
    box-shadow: rgba(0, 0, 0,.03) 0 16px 16px,rgba(0, 0, 0,.03) 0 8px 8px,rgba(0, 0, 0,.03) 0 4px 4px,rgba(0, 0, 0,.1) 0 12px 12px;
  }
}